<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>998596252324-s3p9d7pgm4aaamajomoo0bnrf4i3tvvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998596252324-s3p9d7pgm4aaamajomoo0bnrf4i3tvvv</string>
	<key>API_KEY</key>
	<string>AIzaSyCW-iLYnwiLbEkPJo4ndHnfu37GSqTreY4</string>
	<key>GCM_SENDER_ID</key>
	<string>998596252324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hongchinh.FireBaseBasicDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-basicdemo-62d96</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-basicdemo-62d96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998596252324:ios:1ee32115ea7c5b05</string>
	<key>DATABASE_URL</key>
	<string>https://fir-basicdemo-62d96.firebaseio.com</string>
</dict>
</plist>